body {
    background-color: black;
}

.bg-black {
    background-color: black;
}

.card-project:hover {
    border: 1px solid #ffffff;
    cursor: pointer;
}

.roundedFoto {
    border-radius: 20px;
}