body {
    background-color: rgb(255, 176, 176);
}

.bg-black {
    background-color: #fd2b2b;
}

.card-project:hover {
    border: 1px solid #ffffff;
    cursor: pointer;
}

.roundedFoto {
    border-radius: 20px;
}

.logos {
    width: 200px;
}