{% extends 'layout.html' %}

{% block content %}
{% load static %}

    <img src="{% static 'portfolio/fotoPerfil.jpg' %}" alt="Foto Perfil" width="100px">

    <h1>Home</h1>

    {% for project in projects %}
            <p>{{ project.title }}</p>
            <p>{{ project.description }}</p>
            <img src="{{project.image.url}}" alt="{{project.title}}" width="400px">
            {% if project.url %}
                <a href="{{project.url}}">{{project.url}}</a>
            {% endif %}
    {% endfor %}

{% endblock %}