{% extends 'layout.html' %}

{% block content %}

<div class="row my-4 text-center">
    <h3>MIS PROYECTOS</h3>
    <hr>

    {% for project in projects %}
    <div class="col-md-4 p-4">
        <div class="card bg-black card-project text-light">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top rounded">

            <div class="card-body">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
                {% if project.url %}
                <a href="{{project.url}}" class="btn btn-primary rounded-0 btn-sm" target="_blank">Ver</a>
                {% endif %}
            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}